{
  "extends": ["airbnb-base"],
  "env": {
    "jest": true
  },
  "root": true,
  "rules": {
    "consistent-return": 0,
    "global-require": 0,
    "max-len": 0,
    "no-unused-expressions": 0
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "no-undef": 0
      }
    }
  ]
}
