body,
html {
  @extend %m-0, %p-0;
  background-color: $background;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

body {
  @extend %m-0;
  color: $darkwarmgrey;
  font-size: 14px;
  font-family: $arimo;
  font-weight: 300;
}

a:active,
a:focus,
a:hover,
a:link,
a:visited {
  @extend %no-link-focus;
}

p {
  @extend %brk-ww, %m-r-15;
  font-weight: 200;
  font-size: 15px;
  line-height: 24px;
}

.materialIcons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.scrollBar {
  background-color: $lightblue;
  border-radius: 3px;
  z-index: 1700;
}