/// --COLORS-- ///
//rb
$black: #282828;
$darkblue: #31708f;
$lightblue: #03a9f3;
$lightwarmgrey: #ABA4A2;
$lightcoolgrey: #CBCBCB;
$warmgrey: #686868;
$darkwarmgrey: #665C5B;
$orange: #E04D2D;
$offwhite: #FBE2DD;

// blues
$blue: #428fcc;
$blue-25: rgba(0, 137, 194, 0.25);
$buttonblue: #337ab7;
// $darkblue: #17262c;
$darknavyblue: #23363d;
$darkishblue: #0e3342;
// $lightblue: #1295f3;
$lightertrueblue: #044d81;
$lightgrey: #d3d3d3;
$navy-25: rgba(1, 64, 109, 0.25);
$navy-50: rgba(1, 64, 109, 0.5);
$navy-75: rgba(1, 64, 109, 0.75);
$trueblue: #01406d;

// white
$owhite: #f8f9fa;
$owhite-25: rgba(248, 249, 250, 0.25);

//orange
// $orange: #ff7f50;

//reds
$darkred: #a94442;
$lightpink: #f2dede;
$pink: #ebccd1;

//greens
$lightgreen: #d0e9c6;
$green: #3c763d;
$palegreen: #dff0d8;

//yellows
$gold: #8a6d3b;
$lightyellow: #fcf8e3;
$paleyellow: #faebcc;

// misc.
$darkgrey: #7d7d7d;
$darkbrown: #3a4141;
$white: #fff;
$transparent: rgba(0, 0, 0, 0);
/// END ///
