@import '../../../styles';

.ant-form-item {
  height: 75px;
}

.formContainer {
  position: relative;
  color: $black;
  font-family: $arimo;
  margin: 50px 50px 0 50px;
  min-height: 600px;

  h3 {
    font-family: $arimo;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
  }

  h4 {
    font-weight: 300;
    line-height: 30px;
  }
}

.mainTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 60px;
}

.contactContainer {
  min-height: 422px;
}

.plansContainer {
  margin-bottom: 20px;
  border: 1px dotted $lightblue;
}

.planSelectionContainer {
  margin-top: 20px;
  text-align: center;
  margin-right: 15px;
  min-height: 550px;
}

.selectionContainer {
  margin-bottom: 20px;
  height: 250px;
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  border-top: 1px solid rgba(120, 130, 140, 0.23);
  border-left: 1px solid rgba(120, 130, 140, 0.23);
  border-right: 1px solid rgba(120, 130, 140, 0.23);
  border-bottom: 5px solid rgba(120, 130, 140, 0.23);
  padding: 30px 0px;
  margin-left: 15px;
}

.header {
  text-align: center;
}

.price {
  position: relative;
  font-size: 46px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.priceSign {
  position: relative;
  font-size: 15px;
  top: -25px;
  margin-left: -10px;
}

.planTitle {
  font-size: 18px;
  line-height: 22px;
}

.body {
  margin-bottom: 20px;
  text-align: center;
  border-top: 1px solid rgba(120, 130, 140, 0.13);
  border-bottom: 1px solid rgba(120, 130, 140, 0.13);
  padding: 20px 0;
}

.selection {
  margin: auto;
  width: 25px;
  height: 50px;
}

.reviewSignupContainer {
  min-height: 422px;

  h1,
  h2,
  h3,
  p {
    font-family: $arimo;
  }
  h2 {
    font-size: 24px;
  }
}

.planIcon {
  font-size: 22px;
  color: $lightblue;
}

.headTitle {
  font-size: 26px;
}

.editLink {
  float: right;
  cursor: pointer;
  color: $lightblue;
  font-size: 15px;
  font-weight: normal;
}

.price {
  font-size: 22px;
}

.month {
  font-size: 12px;
}

.priceSign {
  @extend .month;
  position: relative;
  top: -5px;
}

.address {
  margin: 0;
  text-transform: capitalize;
}

.contactInfoContainer,
.paymentInfoContainer,
.planInfoContainer,
.totalContainer {
  float: left;
  margin-bottom: 20px;
  height: 380px;
  width: 23.5%;
  padding: 30px 0px;
  margin-left: 15px;
}

.detailsContainer {
  @include b-s(
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px
  );
  background-color: $white;
  font-family: $arimo;
  min-height: 230px;
  padding: 16px;
  margin-top: 2px;
}

.subtotal,
.taxes {
  height: 30px;
}
.promo {
  height: 72px;
}

.planIcon {
  position: relative;
  top: 3px;
}

.name {
  font-size: 16px;
  font-weight: bold;
}
.email,
.phone {
  margin: 0;
}

.name,
.address,
.location {
  margin: 0;
}

.detailsContainer {
  i {
    margin-right: 10px;
    color: $darkblue;
    font-size: 30px;
  }
}

.creditBilling {
  margin: 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.creditcard {
  font-size: 25px;
}

.experiation {
  position: relative;
  margin-left: 10px;
  font-size: 12px;
  top: -3px;
  letter-spacing: 1px;
}

.stars {
  position: relative;
  font-size: 12px;
  top: -2px;
  margin-right: 1px;
}

.error-handlers {
  @include trans(all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms);
  text-align: center;
  color: $error;
}

.selected {
  border-top: 1px solid $lightblue !important;
  border-right: 2px solid $lightblue !important;
  border-left: 2px solid $lightblue !important;
  border-bottom: 5px solid $lightblue !important;
}
