@import '../../../styles';

.ant-form-item {
  height: 75px;
}

.formContainer {
  position: relative;
  color: $black;
  font-family: $arimo;
  margin: 50px 50px 0 50px;
  min-height: 600px;

  h3 {
    font-family: $arimo;
    font-size: 21px;
    font-weight: 300;
    line-height: 30px;
  }

  h4 {
    font-weight: 300;
    line-height: 30px;
  }
}

.mainTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 60px;
}

.contactContainer {
  min-height: 422px;
}

.plansContainer {
  margin-bottom: 20px;
  border: 1px dotted $lightblue;
}

.reviewSignupContainer {
  min-height: 422px;

  h1,
  h2,
  h3,
  p {
    font-family: $arimo;
  }
  h2 {
    font-size: 24px;
  }
}
