@import '../../../../styles/styles.scss';

.panelBodyContainer {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border-radius: 2px;
}

.noData {
  text-align: center;
  text-transform: none;
  color: $nodata;
  font-family: $arimo;
  padding-top: 100px;

  i {
    font-size: 148px;
  }
}
