.drawer-content-wrapper {
  @include w(220px);
	@include b-s(rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px);

	.drawer-content { overflow: hidden; }

  .drawer-menu-header {
    @extend %t-a-c;
    background-color: #2e323b;
    height: 55px;
    border-bottom: 1px solid #485063;

    .text {
      @include c($white);
      @include f-f($harabara);
      @include f-s(24px);
      letter-spacing: 1.5px;
      padding-top: 15px;
    }
  }

  .drawer-handle {
    @include b-c($white);
    top: auto;
    right: 0;
    bottom: 10px;
    i {
      @include c($lightblue);

      &:hover { @include c($blue); }
    }
  }
}
