// ::-webkit-scrollbar {
// 	display: none;
// }

html, body {
	@extend .b-c-lw;
	margin:0;
	padding:0;
	width: 100%;
	height: 100vh;
	// overflow: hidden;
}

body {
	@extend .c-wg, .f-s-14, .f-w-300, .m-0;
	font-family: $ralewayregular;
}

a:link, a:visited, a:focus, a:hover, a:active {
  @extend .no-link-focus;
}

p {
  @extend .f-w-200, .l-h-24;
  font-family: $ralewaylight;
  margin: 0 0 15px 0;
  font-size: 15px;
  word-wrap: break-word;
}

* {
	@extend .bs-bb;
	outline: none !important;
	margin: 0px;
	padding: 0px;
}

.bb-none {
	border: none !important;
}

.b-c-db {
	background-color: $darkerbrown;
}

.b-c-dwg {
	background-color: $darkwarmgrey;
}

.b-c-lb {
	background-color: $lightbrown;
}

.b-c-w {
	background-color: $white;
}

.b-c-lw {
	background-color: $lightwhite;
}

.bg {
  background-image: url(../images/header/bg-preset5.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.bg-filter {
	background-color: rgba(40,40,40,0.2);
	background-image: -moz-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: -webkit-gradient(linear,0 0,100% 0,from(rgba(40,40,40,0.2)),to(rgba(40,40,40,0.2)));
	background-image: -webkit-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: -o-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: linear-gradient(to right,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32282828', endColorstr='#32282828', GradientType=1);
	background-color: rgba(40,40,40,0.2);
	background-image: -moz-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: -webkit-gradient(linear,0 0,100% 0,from(rgba(40,40,40,0.2)),to(rgba(40,40,40,0.2)));
	background-image: -webkit-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: -o-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-image: linear-gradient(to right,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32282828', endColorstr='#32282828', GradientType=1);
}

.br-0 {
	border-radius: 0px;
}

.bs-bb {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.c-b {
	color: $black;
}

.c-c2 {
	color: $cream2;
}

.c-dwg {
	color: $darkwarmgrey;
}

.c-lb {
	color: $lightblue;
}

.c-lwg {
	color: $lightwarmgrey;
}

.clear-fix {
	content: "";
  display: table;
  clear: both;
}

.col-1{
	@extend .m-h-1, .p-r, .w-8;
}

.col-2 {
	@extend .m-h-1, .p-r, .w-10;
}

.col-3 {
	@extend .m-h-1, .p-r, .w-25;
}

.col-4 {
	@extend .m-h-1, .p-r, .w-33;
}

.col-6 {
	@extend .m-h-1, .p-r, .w-50;
}

.col-12 {
	@extend .m-h-1, .p-r, .w-100;
}

.container-1200 {
	@extend .m-0-a, .p-r, .w-1200;
}

.c-tb {
	color: $tealblue;
}

.c-w {
	color: $white;
}

.c-wg {
	color: $warmgrey;
}

.d-b {
	display: block;
}

.d-i {
	display: inline;
}

.d-ib {
	display: inline-block;
}

.disabled {
	cursor: not-allowed;
}

.fa {
	margin-right: 5px;
}

.f-l {
	float: left;
}

.f-r {
	float: right;
}

.flex-wrap-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.fix-cursor {
	cursor: pointer;
}

.f-s-14 {
	font-size: 14px;
}

.f-s-15 {
	font-size: 15px;
}

.f-s-18 {
	font-size: 18px;
}

.f-s-36 {
	font-size: 36px;
}

.f-w-200 {
	font-weight: 200;
}

.f-w-300 {
	font-weight: 300;
}

.f-w-400 {
	font-weight: 400;
}

.f-w-500 {
	font-weight: 500;
}

.f-w-600 {
	font-weight: 600;
}

.gantry-33 {
	@extend .d-b, .f-l, .w-33;
}

.gantry-50 {
	@extend .d-b, .f-l, .w-50;
}

.large-icon {
	font-size: 20px;
}

.l-h-24 {
	line-height: 24px;
}

.l-h-30 {
	line-height: 30px;
}

.l-h-48 {
	line-height: 48px;
}

.link {
  @extend .m-b-20;
  margin-top: 10px;
}

.l-h-140 {
	line-height: 140%;
}

.l-s-t-n {
	list-style-type: none;
}

.m-0 {
	margin: 0;
}

.m-0-a {
	margin: 0 auto;
}

.m-a {
	margin: auto;
}

.m-b-20 {
	margin-bottom: 20px;
}

.m-h-1 {
	min-height: 1px;
}

.m-l-5 {
	margin-left: 5px;
}

.m-l-10 {
	margin-left: 10px;
}

.m-r-5 {
	margin-right: 5px;
}

.m-r-10 {
	margin-right: 10px;
}

.m-t-5 {
	margin-top: 5px;
}

.m-t-20 {
	margin-top: 20px;
}

.no-link-focus {
	text-decoration: none;
	outline: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-padding {
	padding: 0 !important;
}

.p-25 {
	padding: 25px;
}

.p-f {
	position: fixed;
}

.pl-10 {
	padding-left: 10px;
}

.pr-10 {
	padding-right: 10px;
}

.p-r {
	position: relative;
}

.p-t-20 {
	padding-top: 20px !important;
}

.row {
	margin-right: -10px;
	margin-left: -10px;
}

.rt-block {
	@extend .f-s-15, .p-r;
	margin: 50px 10px;
}

.rt-big-title {
	@extend .f-w-300, .l-h-48;
	font-family: $ralewayregular;
	font-size: 37.5px;
  margin-bottom: 25px;
}

.rt-grid {
	@extend .d-i, .f-l, .m-0, .p-r;
}

.rt-grid-3 {
	@extend .rt-grid;
	width: 300px;
}

.rt-grid-4 {
	@extend .rt-grid, .w-400;
	height: 100%;
}

.rt-grid-6 {
	@extend .rt-grid;
	width: 600px;
}

.rt-grid-8 {
  @extend .d-i, .m-0, .p-r;
	width: 800px;
}

.rt-grid-9 {
	@extend .d-i, .m-0, .p-r;
	width: 900px;
}

.rt-grid-12 {
	@extend .rt-grid, .w-1200;
}

.rt-large-text {
	@extend .f-w-200;
	font-family: $ralewayextralight;
	font-size: 20px;
	line-height: 31px;
	margin: 0 0 15px 0;
}

.rt-text {
	@extend .f-s-14, .f-w-300;
	font-family: $ralewayregular;
}

.rt-title {
	@extend .f-w-300, .l-h-140;
  margin: 10px 0;
  font-size: 140%;
}

.rt-title-tag {
	@extend .d-b, .f-s-18, .l-h-48, .t-t-c;
  opacity: 0.5;
	margin-bottom: 25px
}

.s-i {
	font-size: 10px;
	padding-left: 5px;      height: auto;
}

.s-t {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.t-a-c {
	text-align: center;
}

.t-t-c {
	text-transform: capitalize;
}

.t-t-l {
	text-transform: lowercase;
}

.t-t-u {
	text-transform: uppercase;
}

.w-8 {
	width: 8.33333333%;
}

.w-10 {
	width: 10%;
}

.w-20 {
	width: 20%;
}

.w-25 {
	width: 25%;
}

.w-33 {
	width: 33.33333333%;
}

.w-35 {
	width: 35%;
}

.w-50 {
	width: 50%;
}

.w-60 {
	width: 60%;
}

.w-100 {
	width: 100%;
}

.w-400 {
	width: 400px;
}

.w-1200 {
	width: 1200px;
}

.wrapper-filter {
	@extend .bg-filter;
}
