html, body { @extend %b-c-lw, %h-100vh, %m-0, %p-0, %w-100; }
body { @extend %c-wg, %f-f-ralereg, %f-s-14, %f-w-300, %m-0; }
a:link, a:visited, a:focus, a:hover, a:active { @extend %no-link-focus; }
p { @extend %brk-ww, %f-f-ralereg, %f-w-200, %f-s-15, %l-h-24, %m-r-15;}
* { @extend %bs-bb, %m-0, %outline-none, %p-0; }
.clear-fix {content: ""; display: table; clear: both;}
.fa {margin-right: 5px;}
.f-l {float: left;}
.f-r {float: right;}
.row { margin-right: -10px; margin-left: -10px; }
