.ant-btn:focus, .ant-btn:hover, .ant-btn.disabled, .ant-btn.disabled.active, .ant-btn.disabled:active, .ant-btn.disabled:focus, .ant-btn.disabled:hover, .ant-btn[disabled], .ant-btn[disabled].active, .ant-btn[disabled]:active, .ant-btn[disabled]:focus, .ant-btn[disabled]:hover {
  @include b-c($lightblue);
  @include c($white);
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  @include b-c($rbblue);
  @include c($white);
  border-color: $deepblue;
}

.btn {
  @extend %t-t-u;
  @include f-f($poppinsmedium);
  border-radius: 6px;
  border: 0;
}

.btn-primary {
  @include b-c($lightblue);

  &:hover, &:focus {
    @extend %no-link-focus;
    @include b-c($skyblue);
  }
}

.btn-danger {
  background-color: $orange !important;

  &:hover, &:focus {
    @extend %no-link-focus;
    background-color: $red !important;
  }
}

.btn-tertiary {
  background-color: $darkwarmgrey !important;

  &:hover, &:focus {
    @extend %no-link-focus;
    @include c($white);
    background-color: $warmgrey !important;
  }
}

.nav-button {
  @extend %p-r;
  @include b-c($transparent);
  @include h(40px);
  @include w(40px);
  top: -7px;
  margin-left: 10px;
  border: 0;

  i {@include c($twhite);}

  &:hover {
    i { @include c($formgrey); }
    @include b-c($hoverblue);
  }

  &:focus {
    @extend %no-link-focus;
    @include b-c($transparent);
  }
}

.panel-button {
  @include c($darkwarmgrey);
  @include h(25px);
  @include w(30px);
  margin-top: 11px;
  margin-right: 10px;
  border: 0;

  i {
    @extend %p-r;
    right: 12px;
  }

  &:hover, &:focus {
    // @extend %bs-none;
    @extend %no-link-focus;
    @include c($lightblue);
    @include b-c($transparent);
  }
}
