.btn {
  @extend .t-t-u;
  color: $white !important;
  border-radius: 6px;
  font-family: 'Poppins Semi-Bold, sans-serif';
  border: 0;
}

.btn-primary {
  background-color: $lightblue !important;

  &:hover, &:focus {
    @extend .no-link-focus;
    background-color: $skyblue !important;
  }
}

.btn-danger {
  background-color: $orange;

  &:hover, &:focus {
    @extend .no-link-focus;
    background-color: $red;
  }
}

.btn-tertiary {
  background-color: $darkwarmgrey;

  &:hover {
    color: $white;
    background-color: $warmgrey;
  }
}
