.container {
  @extend .c-b, .p-r;
  outline: none !important;
  margin: 40px 30px 0px 30px;
}

.dashboard-container {
  @extend .container;

  .dash-overview-panel {
    @extend .d-ib, .w-100;
    margin-bottom: 10px;
  }

  .dash-customers-panel {
    @extend .f-l, .pr-10, .w-50;
    margin-bottom: 20px;
  }

  .dash-plans-panel {
    @extend .f-r, .pl-10, .w-50;
    margin-bottom: 20px;
  }
}

.active-panel {
  @extend .w-100;
  margin-bottom: 30px;
}

.inactive-panel {
  @extend .w-100;
  margin-bottom: 50px;
}

.scrollbar {
  background-color: rgba(3, 169, 243, 0.5);
  border-radius: 3px;
  z-index: 1700;
}

.dark {
  background-color: rgba(3, 44, 243, 0.5);
}
