.dash-nav-container {
  @extend .p-f, .w-100;
  z-index: 2000;
  top: 0;

  .hamburger {
    @extend .c-w;
    font-size: 36px;
  }

  .logo-container {
    padding-top: 7px;

    .text-logo{
      @extend .p-r;
      top: -20px;
      left: -7px;
    }
  }

  .left-nav {
    @extend .d-ib;

    .user-header {
      @extend .c-w;
      margin-bottom: 5px;
      background-color: $rbblue;
      padding: 15px;
      height: 150px;

      p {
        text-transform: none;
        margin: 0;
        line-height: 15px;
      }
    }
  }

  .right-nav {
    .loggedin-user {
      @extend .c-w, .f-s-15;
      font-family: $poppinssemibold;
    }

    .notifications-icon {
      @extend .c-w, .d-ib, .p-r;
      top: -6px;
      left: 3px;
      // padding-right: 10px;

      & div {
        padding: 0 !important;
      }
    }

    .settings-tab {
      @extend .d-ib, .fix-cursor, .no-link-focus, .p-r;
      margin-top: 10px;
      padding-right: 10px;
      padding-left: 3px;
    }
  }
}

.dash-footer-container {
  -webkit-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.08);
  -moz-box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.08);
  box-shadow: 0px -1px 4px 1px rgba(0,0,0,0.08);
}

.tabs-container {
  & div {
    background-color: $tealblue;

    & div, i {
      color: $softwarmgrey !important;
    }
  }
}

.active-tab {
  & div > div, & div > div > i {
    color: $white !important;
    // background-color: #0c7eb1 !important;
  }
}
