.mini-panel-container {
  @extend %t-t-n;
  @include b-c($white);
  @include b-s(
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px
  );
  @include h(415px);
  margin: 0 15px 30px 15px;
  padding: 20px;

  .active {
    @include b-c($darkblue !important);
    color: #fff;
  }

  .bar-chart-container {
    @extend .details-container;
  }

  .name {
    flex: 1 1;
    margin-right: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 22px;
  }

  .details-container {
    @include h(300px);
    padding-top: 10px;
  }

  .messages {
    @extend %t-a-c;
    @include c($darkblue);

    h5 {
      @include f-f($arimo);
    }

    .number {
      @extend %m-0-a, %t-a-c;
      @include b-c($bluegreen);
      @include c($white);
      @include f-s(220px);
      @include l-h(normal);
      @include w(220px);
      border-radius: 10px;
    }
  }

  .no-data {
    @extend %t-a-c, %t-t-n;
    @include c($nodata);
    padding-top: 30px;

    .anticon {
      @include c($nodata);
      @include f-s(148px);
    }
  }

  .promo {
    @extend %t-a-c;
    @include c($darkblue);
    @include b-c($darkerwhite);
    @include h(20px);
    @include w(100%);
    @include l-h(20px);
    @include f-f($arimo);
    @include f-s(12px);
    border-radius: 4px;
  }

  .rank {
    @extend %d-ib, %t-a-c;
    @include b-c($darkerwhite);
    @include h(20px);
    @include l-h(20px);
    @include f-f($arimo);
    @include f-s(12px);
    @include w(20px);
    border-radius: 4px;
    margin: 1.5px 16px 5px 0;
    padding-left: 2px;
  }

  .tab-container {
    margin-bottom: -15px;
    .tab {
      display: inline-flex;
      @include c($lightblue);
      i {
        @include f-s(35px);
        margin-right: 20px;
      }
      .title {
        @include f-s(30px);
        // padding-top: 7px;
      }
    }
  }

  .top-5 {
    @extend %l-s-t-n;
    margin: 0;
    vertical-align: middle;
    padding: 0 10px;
    & > li {
      @extend %d-f;
    }
  }

  .top-5-title {
    @extend %t-a-c;
    @include c($darkblue);
    @include f-s(20px);
    // margin-bottom: -10px;
  }

  .total {
    @extend %t-a-c;
    @include c($darkblue);
    @include b-c($darkerwhite);
    @include h(20px);
    @include w(26px);
    @include l-h(20px);
    @include f-f($arimo);
    @include f-s(12px);
    border-radius: 10px;
  }

  .top-rank {
    @include c($white !important);
    @include b-c($lightorange !important);
  }

  .top-rank-usage {
    @include c($white !important);
    @include b-c($lightblue !important);
  }

  .transaction-numbers {
    @extend %l-s-t-n, %t-a-c;
    margin: 0;

    & > li {
      @extend %d-i;
      margin-right: 10px;
    }

    .caret {
      @extend %m-r-5;
      @include f-s(11px);
    }

    .caret-up-charges {
      @extend .caret;
      @include c($charges);
    }

    .caret-down-refunds {
      @extend .caret;
      @include c($redorange);
    }

    .minus-dues {
      @extend .caret;
      @include c($darkyellow);
    }

    .minus-credits {
      @extend .caret;
      @include c($darkblue);
    }
  }
}
