.container {
  @extend %c-b, %p-r, %outline-none, %t-t-u;
  margin: 40px 30px 0px 30px;
}

.dash-overview-panel {
  @extend %d-ib, %m-b-10, %w-100;
}

.dash-customers-panel {
  @extend %m-b-20, %w-100;
}

.dash-plans-panel {
  @extend %m-b-20, %w-100;
}

.active-panel {
  @extend %w-100;
  margin-bottom: 30px;
}

.inactive-panel {
  @extend %w-100;
  margin-bottom: 50px;
}

.scrollbar {
  background-color: rgba(3, 169, 243, 0.5);
  border-radius: 3px;
  z-index: 1700;
}

.dark {
  background-color: rgba(3, 44, 243, 0.5);
}
