.footer-head {
	@include b-c($darkwarmgrey);
	@include f-f($arimo);
	@include h(60px);
	@include w(100%);

	.footer-container {
		@extend %l-s-t-n, %m-0-a;
		@include w(1200px);

		&:before {
			@extend %d-b;
			content: "";
			border-top: 1px solid $semidarkgrey;
			margin: 0 25px;
		}

		.footer-block {
			padding: 15px 75px;

			.footer-grid-4 {
				@include c($lightwarmgrey);
				@include h(100%);
				@include w(400px);

				.nav-logo {
					@extend %d-b;
					margin: 10px 25px;
				}
			}

			.footer-grid-8 {
				@extend %d-i, %m-0, %p-r;
				@include w(800px);

				.footer-float-right {
					@extend .f-r;
					margin: 0 10px;

					a {
						@extend %m-t-10, %s-t;
						@include c($lightwarmgrey);
						@include f-s(12px);
						@include l-h(24px);
						padding: 10px;

						&:hover {
							@include c($lightblue);
						}
					}
				}
			}
		}
	}
}
