.forms-container {
  @extend .container;
}

.customer-signup-bg {
  height: 1000px;
  background-color: $white;

  .customer-signup-container {
    padding-top: 100px;

    .stepper-container {
      @extend .container-1200;
    }

    .title {
      @extend .t-a-c;
      margin: 20px 0;
    }

    .form-container {
      @extend .c-b, .p-r;
      font-family: $poppinslight;
      margin: 40px 50px 0px 50px;
      min-height: 600px;

      h3 {
        line-height: 30px;
        font-size: 21px;
        font-weight: 300;
      }

      .left-form {
        @extend .f-l, .pr-10, .w-50;
        height: 500px;
        margin-bottom: 20px;
      }

      .right-form {
        @extend .f-r, .pl-10, .w-50;
        height: 500px;
        margin-bottom: 20px;
      }
      .input-16 {
        @extend .w-16;
        margin: 10px 0;
        height: 72px;
      }
      .input-20 {
        @extend .w-20;
        margin: 10px 0;
        height: 72px;
      }
      .input-25 {
        @extend .w-25;
        margin: 10px 0;
        height: 72px;
      }
      .input-50 {
        @extend .w-50;
        margin: 10px 0;
        height: 72px;
      }
      .input-66 {
        @extend .w-66;
        margin: 10px 0;
        height: 72px;
      }
      .input-75 {
        @extend .w-75;
        margin: 10px 0;
        height: 72px;
      }
    }
  }
}

.new-form-container {
  @extend .w-100;
  text-transform: none;
  max-width: 800px;
  padding: 16px;

  .input-container {
    margin: 10px 0px;
    height: 72px;

    .override-chip-style {
      & div > div > div {
        background-color: $neutralgreen !important;

        span {
          color: $white !important;
        }
      }
    }
  }

  .editor-container {
    @extend .w-100;
    margin-top: 30px;

    h4 { color: $lightblue; }

    .content {
      border: 1px solid $black;
      position: relative;

      .fr-toolbar {
        background-color: $lightblue;
        border: none !important;
      }

      .fr-sticky-on {
        position: relative !important;
       }

      .fr-sticky-dummy {
        display: none !important;
       }

      button {
        color: $white !important;

        &:hover {
          background-color: $tealblue !important;
        }
      }
    }

    .rendered-content {
      margin-top: 30px;

      .content-preview {
        padding: 0 20px;
        min-height: 200px;
      }
    }
  }

  .button-container {
    @extend .m-t-20;

    .button {
      @extend .d-ib, .w-50;
      padding: 6px 12px;
      margin-bottom: 30px;
    }

    .button-center {
      @extend .d-b, .m-0-a, .w-100;
      max-width: 250px;
    }
  }
}
