.home-surround {
  height: 100%;
  max-height: 790px;
  width: 100%;
  background-image: url(../images/header/bg-preset5.jpg);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

	.home-overlay {
		@extend .bg-filter;
    height: 790px;

		.home-container {
				color: $owhite;
				width: 100%;
				max-width: 1200px;
				padding-top: 140px;
				margin: auto;
				text-align: center;

			h1 {
				font-family: $raleway;
				font-weight: 400;
				font-size: 37.5px;
				line-height: 48px;
				text-transform: uppercase;
				letter-spacing: 10px;
        margin: 10px;
			}

      .title {
        color: $lightgrey;
        font-family: $raleway;
        font-weight: 300;
        font-size: 19.5px;
        width: 60%;
        margin: 12px auto;
        line-height: 35px;

        span {
          word-wrap: break-word;
        }
      }

			.img-container {
				width: 100%;
    		float: none;
        margin-top: 50px;

        img {
          width: 100%;
          max-width: 1150px;
          width: auto;
          height: auto;
          vertical-align: middle;
          border: 0;
        }
			}
		}
	}
}

.link {
  margin-bottom: 20px;
  .btn-sign-up {
    border-radius: 5px !important;
    margin: 15px 0;
    button {
      border-radius: 5px !important;
              border: 1px solid $orange;
      & > div {
        background-color: $orange;
                border: 1px solid $orange;
        border-radius: 4px !important;
        & span { height: 50px !important; }
        & > div {
          padding: 7.5px 15px;
          & span {
            color: $offwhite !important;
            font-size: 18px !important;
            letter-spacing: 1px !important;
            font-family: $raleway;
            display: inline-block;
            width: 150px;
          }
        }

      }
    }
  }
}
