.landing-container {
	@extend %t-t-n;
	@include h(100%);
	@include b-c($white);
	@include b-s(rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px);
	min-height: 915px;
	padding: 10px 30px;

	hr { margin-top: -5px; }
	.logo {
		@include c($lightblue);
		.icon {
			@include f-s(44px);
		}

		.text {
			@extend %p-r;
			@include f-f($harabara);
			@include f-s(44px);
			letter-spacing: 1.5px;
			top: -7px;
			margin-left: 2px;
		}
	}

	.subtitle {
		@include f-f($arimo-italic);
		@include f-s(14px);
	}

	.instructions-subtitle {
		@extend .subtitle;
		margin-top: -10px;
	}
}
