.nav-header {
  @extend .w-100;
  height: 75px;
  position: absolute;

  .nav-container {
    @extend .l-s-t-n, .m-0-a, .t-t-u;
    padding-top: 8px;
    max-width: 1200px;

    .nav-grid-3 {
      @extend .rt-grid-3;

      .nav-logo {
        @extend .d-b;
        margin: 10px 25px;
      }
    }

    .nav-grid-9 {
      @extend .rt-grid-9;

      .nav-float-right {
        @extend .f-r;
        margin-right: 20px;
        margin-top: 17px;

        a {
          @extend .f-s-15, .f-w-400, .l-h-24, .s-t;
          color: $lightcoolgrey;
          font-family: $ralewayregular;
          margin: 0 7.5px;
          padding: 12px 10px;
          border: 1px solid $transparent;
          border-radius: 5px;

          &:hover {
            @extend .c-w, .fix-cursor;
            border: 1px solid $white;
          }

          i {
            @extend .p-r;
            top: -2px;
            left: 2px;
          }
        }
      }
    }
  }
}

.fixed {
  @extend .w-100;
	position: fixed;
	z-index: 1000;
	background-color: $owhite;
  border-bottom: 1.5px solid $black;
  -webkit-animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
	animation-name: fadeIn;
	animation-duration: 0.5s;

	.nav-container > .nav-grid-9 > .nav-float-right > a {
		color: $darkgrey;

		&:hover {
      color: $black;
		  border: 1px solid $black;
		}
	}
}
