.nav-header {
  width: 100%;
  height: 90px;
  position: absolute;

  .nav-container {
    padding-top: 8px;
    list-style-type: none;
    margin: 0 auto;
    // overflow: hidden;
    max-width: 1200px;
    // display: -webkit-box;
    // display: -moz-box;
    // display: -ms-flexbox;
    // display: -webkit-flex;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
    text-transform: uppercase;
    // -webkit-box-orient: horizontal;
    // -webkit-box-direction: normal;
    // -webkit-flex-direction: row;
    // -webkit-box-align: center;
    // -webkit-align-items: center;

    .nav-grid-3 {
      display: inline;
      float: left;
      position: relative;
      margin: 0;
      width: 300px;

      .nav-logo {
        display: block;
        margin: 10px 25px;
      }
    }

    .nav-grid-9 {
      display: inline;
      position: relative;
      margin: 0;
      width: 900px;
      padding-top: 25px;

      .nav-float-right {
        float: right;
        margin-right: 20px;
        margin-top: 20px;

        a {
          @extend .no-link-focus;
          @extend .s-t;
          color: $lightcoolgrey;
          font-size: 16px !important;
          font-family: $raleway;
          font-weight: 400;
          font-size: 14px;
          margin: 0 7.5px;
          padding: 10px;
          line-height: 24px;
          border: 1px solid transparent;
          border-radius: 5px;

          &:hover {
            @extend .fix-cursor;
            color: $white;
            border: 1px solid $white;
          }
        }
      }
    }
  }
}
