.nav-overlay {
  background-color: rgba(40,40,40,0.2);
    background-image: -moz-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: -webkit-gradient(linear,0 0,100% 0,from(rgba(40,40,40,0.2)),to(rgba(40,40,40,0.2)));
    background-image: -webkit-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: -o-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: linear-gradient(to right,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32282828', endColorstr='#32282828', GradientType=1);
    background-color: rgba(40,40,40,0.2);
    background-image: -moz-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: -webkit-gradient(linear,0 0,100% 0,from(rgba(40,40,40,0.2)),to(rgba(40,40,40,0.2)));
    background-image: -webkit-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: -o-linear-gradient(left,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-image: linear-gradient(to right,rgba(40,40,40,0.2),rgba(40,40,40,0.2));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#32282828', endColorstr='#32282828', GradientType=1);

  .nav-header {
    width: 100%;
    height: 90px;

    .nav-container {
      list-style-type: none;
      padding: 0 20px;
      margin: 0 auto;
      overflow: hidden;
      max-width: 1200px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-transform: uppercase;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;

      .nav-grid-3 {
        display: inline;
        float: left;
        position: relative;
        margin: 0;
        width: 300px;

        .nav-logo {
          display: block;
          margin: 10px 25px;
        }
      }

      .nav-grid-9 {
        display: inline;
        position: relative;
        margin: 0;
        width: 900px;
        padding-top: 25px;

        .nav-float-right {
          float: right;
          margin-right: 20px;
          height: 40px;

          a {
            @extend .no-link-focus;
            color: $white;
            font-size: 15px;
            margin: 0 7.5px;
            padding: 10px;
            line-height: 24px;
            border: 1px solid transparent;
            border-radius: 5px;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;

            &:hover {
              @extend .fix-cursor;
              border: 1px solid $white;
            }
          }
        }
      }
    }
  }
}
