.notifications-popover {
  width: 380px;
}

.notifications-header {
  @extend %f-f-poppmed;
  letter-spacing: .15px;
  font-size: 13px;
  height: 35px;
  padding: 7px 10px;
}

.notifications-footer {
  height: 30px;
}

.notifications-empty {
  height: 250px;

  .empty-notes {
    @extend %d-b, %m-0-a, %p-r;
    top: 65px;
    opacity: 0.10;
  }

  .empty-title {
    @extend %f-f-popplght, %f-s-14, %p-r, %t-a-c;
    top: 75px;
    letter-spacing: .15px;
  }
}

.notifications-body {
  padding: 0px 20px;

  .delete-notication {
    @extend %c-lb, .fix-cursor;
    height: 20px;
    width: 20px;
  }

  .hidden {
    display: none;
  }

  .date {
    @extend %c-dwg;
    font-size: 10px;
  }

  .note {
    @extend %m-t-10;
    border-bottom: 1px solid #e2e4e6;
  }

  .link {
    @extend %c-lb;
  }

  .title {
    @extend %f-f-popplght;
    font-size: 12px;
  }

  p { margin: 0 0 10px 0 }
}

.note-10 {
  @extend %d-ib, %p-r, %w-10;
  top: -10px;
}

.note-15 {
  @extend %d-ib, %w-15;
}

.note-75 {
  @extend %d-ib, %w-75;
}

.note-100 {
  @extend %d-ib, %w-100;
}

.divider {
  @extend %b-c-lcg, %m-0;
  height: 1px;
  border: none;
}
