.notifications-popover {
  @include w(380px);
}

.notifications-header {
  @include f-f($poppinsmedium);
  @include f-s(13px);
  @include h(35px);
  letter-spacing: .15px;
  padding: 7px 10px;
}

.notifications-footer {
  @include h(30px);
}

.notifications-empty {
  @include h(250px);

  .empty-notes {
    @extend %d-b, %m-0-a, %p-r;
    top: 65px;
    opacity: 0.10;
  }

  .empty-title {
    @extend %p-r, %t-a-c;
    @include f-f($poppinslight);
    @include f-s(14px);
    top: 75px;
    letter-spacing: .15px;
  }
}

.notifications-body {
  padding: 0px 20px;

  .delete-notication {
    @extend .fix-cursor;
    @include c($lightblue);
    @include h(20px);
    @include w(20px);
  }

  .hidden { display: none; }

  .date {
    @include c($darkwarmgrey);
    @include f-s(10px);
  }

  .note {
    @extend %m-t-10;
    border-bottom: 1px solid #e2e4e6;
  }

  .link { @include c($lightblue); }

  .title {
    @include f-f($poppinslight);
    @include f-s(12px);
  }

  p { margin: 0 0 10px 0 }
}

.note-10 {
  @extend %d-ib, %p-r;
  @include w(10%);
  top: -10px;
}

.note-15 {
  @extend %d-ib;
  @include w(15%);
}

.note-75 {
  @extend %d-ib;
  @include w(75%);
}

.note-100 {
  @extend %d-ib;
  @include w(100%);
}

.divider {
  @extend %m-0;
  @include b-c($lightcoolgrey);
  height: 1px;
  border: none;
}
