.panel-container {
  @extend %h-100;
  margin-bottom: 30px;

  .btn-reposition {
    @extend %p-10, %p-r;
    top: 13px;
    border-right: 0 !important;
  }

  .panel-body {
    @extend %m-b-10, %t-t-c;
    padding: 5px 10px;

  }

  .panel-1 {
    @extend %col-1, %d-ib;
    margin-right: 30px;
  }

  .panel-2 {
    @extend %col-2, %d-ib;
  }

  .panel-3 {
    @extend %col-3, %d-ib, %t-a-c;
    margin-top: 30px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);

    .subtitle {
      @extend %f-f-poppsemi, %f-s-14, %l-h-30;
      letter-spacing: 2px;
      margin-top: 0px;
    }

    .amount {
      @extend %c-lb, %f-f-poppsemi, %f-s-36, %f-w-300, %l-h-48;
      letter-spacing: 2px;
    }
  }

  .panel-4 {
    @extend %col-4, %d-ib, %f-r;

    .filter-container {
      @extend %d-b, %f-r, %w-100;

      .form-95 {
        @extend %d-ib, %w-95;
        width: 95%;
      }

      .form-05 {
        @extend %d-ib, %w-95;
      }
    }
  }

  .panel-6 {
    @extend %col-6, %d-ib, %m-b-20, %p-0;
  }

  .panel-7 {
    @extend %d-ib;
    width: 58.33333333%;
  }

  .no-b-r {
    border-right: 0 !important;
  }
}
