.panel-container {
  height: 100%;
  margin-bottom: 30px;

  .btn-reposition {
    @extend .p-r;
    top: 13px;
    padding-right: 10px;
    border-right: 0 !important;
  }

  .panel-body {
    @extend .t-t-c;
    padding: 5px 10px;
    margin-bottom: 10px;

  }

  .panel-1 {
    @extend .col-1, .d-ib;
    margin-right: 30px;
  }

  .panel-2 {
    @extend .col-2, .d-ib;
    // margin-right: 30px;
  }

  .panel-3 {
    @extend .col-3, .d-ib, .t-a-c;
    // margin: 0 -1px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);

    .subtitle {
      @extend .f-s-14, .l-h-30;
      font-family: $poppinssemibold;
      letter-spacing: 2px;
      margin-top: 0px;
    }

    .amount {
      @extend .f-s-36, .f-w-300, .l-h-48;
      font-family: $poppinslight;
      letter-spacing: 2px;
      color: $lightblue;
    }
  }

  .panel-4 {
    @extend .col-4, .d-ib, .f-r;

    .filter-container {
      @extend .d-b, .f-r, .w-100;

      .form-95 {
        @extend .d-ib;
        width: 95%;
      }

      .form-05 {
        @extend .d-ib;
        width: 5%;
      }
    }
  }

  .panel-6 {
    @extend .col-6, .d-ib;
    margin-bottom: 20px;
    padding: 0;
  }

  .panel-7 {
    @extend .d-ib;
    width: 58.33333333%;
  }

  .no-b-r {
    border-right: 0 !important;
  }
}
