.pricing-header-bg {
  @extend .bg;

  .pricing-header-filter {
    @extend .bg-filter;

    .pricing-header-container {
      @include c($owhite);
      @include h(330px);
      @include w(100%)
      @extend %m-a, %t-a-c;
      max-width: 1200px;
    	padding-top: 140px;

      .title {
        @extend %t-a-c, %t-t-u;
        @include f-f($ralewayregular);
        @include f-s(37.5px);
        @include f-w(400);
        @include l-h(48px);
        margin: 10px;

        .subtitle {
          @extend %brk-ww, %rt-title-tag;
          @include c($white);
        }
      }
    }
  }
}

.pricing-faqs-bg {
  @include b-c($bloodred);

  .pricing-faqs-title-container {
    @extend %m-a, %t-a-c;
    @include h(85px);
    @include w(100%);
    max-width: 1200px;
    padding-top: 30px;

    .title {
      @extend %t-a-c, %t-t-u;
      @include c($darkwhite);
      @include f-f($ralewaylight);
      @include f-s(37.5px);
      @include f-w(200);
      @include l-h(48px);
      margin: 10px;
    }
  }

  .pricing-faqs-container {
    @extend %m-a;
    @include c($darkwhite);
    @include h(1100px);
    @include w(100%);
    max-width: 1200px;

    .pricing-faqs-grid-6 {
      @extend %rt-grid-6;

      .pricing-block {
        @extend %rt-block;
        margin-top: 0;

        h3 {
          @include f-f($ralewayregular);
          @include f-s(130%);
          @include f-w(300);
          @include l-h(130%);
        }

        a {
          @include c($lightblue);
          @include f-f($ralewaylight);
          @include f-w(200);
          @include l-h(24px);

          &:hover {
            @include c($black);
          }
        }

        ul, li {
          @extend %brk-ww;
          @include f-f($ralewaylight);
          @include f-s(15px);
          @include f-w(200);
          @include l-h(24px);
          margin: 0 0 15px 0;
        }
      }
    }
  }
}

.pricing-title-bg {
  @include b-c($white);

  .pricing-title-container {
    @extend %m-a, %t-a-c;
    @include h(160px);
    @include w(100%);
    max-width: 1200px;
    padding-top: 60px;

    .title {
      @extend %t-a-c, %t-t-u;
      @include f-f($ralewayregular);
      @include f-s(37.5px);
      @include f-w(400);
      @include l-h(48px);
      margin: 10px;

      .subtitle {
        @extend %brk-ww, %rt-title-tag;
        @include c($black);
      }
    }
  }
}

.pricing-table-bg {
  @include b-c($lightwhite);

  .pricing-table-container {
    @extend %m-0-a, %t-a-c;
    @include h(663px);
    @include w(100%);
    max-width: 1200px;
    padding-top: 40px;

    .pricing-table {
      @extend %t-a-c;
      @include b-c($white);
      clear: both;
      border: 1px solid $darkwhite;
      border-radius: 4px;
      margin-top: 50px;

      .table-col-25 {
        @extend %bs-bb, %d-b, .f-l, %p-25, %t-a-c;
        @include b-c($white);
        @include l-h(24px);
        @include w(25%);
        border-right: 1px solid $darkwhite;

        .table-header {
          @extend %p-25, %t-t-u;
          @include b-c($lightblue);
          @include c($cream2);
          @include f-f($ralewayregular);
          @include f-s(18px);
          border-radius: 4px 0 0 0;
          margin: -25px -25px 15px -25px;
        }

        .table-header-recommended {
          @extend .table-header;
          @include b-c($orange);
          border-radius: 4px 4px 0 0;
          padding: 50px;
          margin: -75px -25px 15px -25px;
        }

        .table-top {
          @extend %t-a-c;
          @include b-c($darkbrown);
          @include c($cream2);
          margin: -15px -25px 15px -25px;
          padding: 40px 0 25px 0;
          border-bottom: 1px solid $darkwhite;

          .price {
            @include f-s(40px);
            vertical-align: top;
          }

          .decimal {
            @include f-s(24px);
            line-height: 0;
          }

          .plan-length {
            @extend %d-b;
            margin-top: 15px;
          }
        }

        .table-top-recommended {
          @extend .table-top;
          @include b-c($redorange);
        }

        .table-content {
          @extend %d-b, %t-a-c;
          @include b-c($white);

          .item {
            @extend %d-b;
            @include c($darkwarmgrey);
            margin: 15px 0;
          }
        }

        .table-bottom {
          @extend %d-b;
          margin-top: 35px;
        }

      }
    }

  }
}

.pricing-contact-bg {
  @include b-c($darkwarmgrey);

  .pricing-contact-title-container {
    @extend %m-a, %t-a-c;
    @include h(85px);
    @include w(100%);
    max-width: 1200px;
    padding-top: 30px;

    .title {
      @extend %t-a-c, %t-t-u;
      @include c($lightwarmgrey);
      @include f-f($ralewaylight);
      @include f-s(37.5px);
      @include f-w(300);
      @include l-h(48px);
      margin: 10px;
    }

    .subtitle {
      @extend %rt-title-tag;
      @include c($white);
    }
  }

  .pricing-contact-container {
    @extend %m-a;
    @include h(500px);
    @include w(100%);
    max-width: 1200px;
    padding-top: 50px;

    .pricing-contact-grid-12 {
      @include w(1200px);

      .pricing-block {
        @extend %m-0-a;
        @include w(600px);

        .contact-form {
          @extend %m-t-20;
        }
      }
    }
  }
}
