.spinner-container {
	@extend %m-0-a, %p-a;
	@include trans(ease-in-out);
	@include h(128px);
	@include w(128px);
	top: 30%;
	right: 0;
	bottom: 0;
	left: 0;
	animation: fadeIn 1s 0s ease-in-out forwards;
}
