.table-container {
	margin: 10px 0 10px 0;

	.adjust-enddate-position {
		padding-left: 30px !important;
	}

	.adjust-plans-position {
		padding-left: 25px !important;
	}

	.adjust-subscriptions-position {
		padding-left: 50px !important;
	}

	.adjust-subscribers-position {
		padding-left: 40px !important;
	}

	.override-table-style {
		th {
			// @include c($black !important);
			@include f-f($arimo);
			@include f-s(14px !important);
		}

		td {
			@extend %t-t-n;
			@include c($black !important);
			@include f-f(sans-serif);
			@include f-s(13px !important);
		}
	}
}

.label {
	@extend %t-a-c;
	@include f-w(500);
	display: inline;
	letter-spacing: 0.05em;
	border-radius: 60px;
}

.active {
	@extend %m-l-10;
	@include c($tealgreen);
}

.credit {
	@extend %m-l-10;
	@include c($darkblue);
}

.due {
	@extend %m-l-10;
	@include c($darkyellow);
}

.inactive {
	@extend %m-l-10;
	@include c($lightcoolgrey);
}

.lowercase {
	@extend %t-t-l;
}

.max-usage {
	@media (max-width: 1450px) {
		padding: 2px 5px 1.5px;
		margin-left: 0;
	}
	@extend .label, %t-a-c;
	@include c($white);
	@include b-c($darkyellow);
	@include f-w(500);
	padding: 4px 10px 3px;
	margin-left: 12px;
}

.paid {
	@extend %m-l-10;
	@include c($limegreen);
}

.refund {
	@extend %m-l-10;
	@include c($redorange);
}

.suspended {
	@extend %m-l-10;
	@include c($firered);
}

.subscription-count {
	@media (max-width: 1450px) {
		padding: 2px 5px 1.5px;
	}
	@media (min-width: 1450px) {
		margin-left: 18px;
	}
	@extend .label, %t-a-c;
	@include c($white);
	@include b-c($lightblue);
	@include f-w(500);
	padding: 4px 10px 3px;
}

.table-status-action {
	@extend %t-t-c;
	i { @include f-s(18px); padding-top: 5px; }
}

.total-usage {
	@media (max-width: 1450px) {
		padding: 2px 5px 1.5px;
	}
	@media (min-width: 1450px) {
		margin-left: 18px;
	}
	@extend .label, %t-a-c;
	@include c($white);
	@include b-c($lightblue);
	@include f-w(500);
	padding: 4px 10px 3px;
}
