$material-icons-font-path: '~material-icons/iconfont/';

/* --MODULES-- */
@import '~antd/dist/antd.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-quill/dist/quill.snow.css';
@import '~font-awesome/css/font-awesome.css';
@import '~material-icons/iconfont/material-icons.scss';

/*  --FONTS-- */
@font-face {
  font-family: 'Harabara';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Harabara.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo Regular';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Arimo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo Italic';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Arimo-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Arimo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Arimo Bold Italic';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Arimo-BoldItalic.ttf') format('truetype');
}

/*  --ANTD OVERRIDES-- */
.anticon {
  vertical-align: 0;
}

.ant-card-extra {
  padding: 0px;
}

.ant-card-head,
.ant-card-head-title {
  color: #1890ff;
  font-family: 'Arimo Regular', sans-serif;
  font-size: 14px;
  height: 45px;
  min-height: 45px;
  padding-left: 32px;
  text-transform: uppercase;
}

.ant-card-wider-padding .ant-card-head {
  padding: 0;
}

.ant-form-item,
.ant-menu,
.ant-notification,
.ant-select,
.ant-select-dropdown,
.ant-table {
  font-family: 'Arimo Regular', sans-serif;
}

.ant-scroll-number-only > p {
  font-family: 'Arimo Regular', sans-serif;
  font-size: 12px;
  top: -2px;
  position: relative;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  text-align: center;
}

.ant-table-content {
  white-space: nowrap;
  overflow-x: auto;
}

.ant-tabs-bar {
  margin: 0 !important;
}

.ant-tabs {
  text-transform: uppercase;
  font-family: 'Arimo Regular', sans-serif;
}

.ant-tabs-nav-wrap {
  padding: 0 20px;
}

.ant-menu-item-selected {
  background-color: rgba(39, 179, 241, 0.12) !important;

  &:hover {
    color: #1890ff !important;
  }
}

.ant-menu-item-group-title {
  padding: 0 !important;
}

.ant-menu-inline .ant-menu-item-selected:after {
  border-right: 0;
  border-left: 3px solid #03a9f3;
  left: 1px;
}

.ant-menu-inline-collapsed .ant-menu-item-selected:after {
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  border-right: 0;
  border-left: 3px solid #03a9f3;
  left: 1px;
  opacity: 1;
}

.ant-layout-sider {
  -moz-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.ant-popover-arrow,
.ant-popover-inner {
  margin-top: -4px;
}

.ant-popover-placement-bottomRight > .ant-popover-content > .ant-popover-arrow {
  bottom: 10px;
  background-color: #03a9f3;
}

.ant-notification {
  z-index: 999999;
}

.ant-btn {
  font-size: 15px;
}

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only).anticon {
  padding-right: 7px !important;
}

.ant-btn.ant-btn-loading:not(.ant-btn-circle):not(.ant-btn-circle-outline):not(.ant-btn-icon-only) {
  padding-left: 20px !important;
}

.ant-btn-clicked:after {
  animation: 0s !important;
}

.ant-click-animating-node,
[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
}

.ant-form-item {
  margin-bottom: 0;
  height: 60px;
}

.ant-modal-body {
  background-color: #f9f9fb;
}

.ant-popover-inner-content {
  -moz-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px,
    rgba(0, 0, 0, 0.12) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  color: #ffffff;
  background-color: #03a9f3;
  border-radius: 10px;
  padding: 0 25px 0 15px;

  .ant-select-selection__choice__remove {
    color: #ffffff;
    width: 20px;

    &:hover {
      color: #d3d3d3;
    }
  }
}

.ant-select-selection:focus {
  border-color: #d9d9d9;
  box-shadow: none;
}

.ant-tag .anticon-close {
  position: relative;
  color: #ffffff;
  font-family: 'Arimo-Bold', sans-serif;
  font-size: 12px;
  left: 3px;
  top: -1px;

  &:hover {
    color: #f2f2f2;
  }
}

.avatar-svg-container {
  svg {
    width: 112px;
    height: 60px;
    top: 25px;
    position: relative;
  }
}

.avatar-uploader > .ant-upload,
.ant-upload-list-picture-card .ant-upload-list-item {
  margin: 0;
  height: 128px;
  width: 128px;

  .ant-upload-list-item-thumbnail {
    height: 110px;
    width: 110px;
  }
}

.avatar-submit-container {
  text-align: center;
  width: 128px;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #3b89b5;
  color: #ffffff;
  border-color: #005cbf;
}

.billing-switch-field {
  height: 40px !important;
  width: 100%;

  .ant-form-item-label {
    float: left;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.clear-fix {
  content: '';
  display: table;
  clear: both;
}

.fix-cursor {
  cursor: pointer;
}

.f-l {
  float: left;
}

.tag {
  color: #ffffff;
  background-color: #03a9f3;
  font-family: 'Arimo-Bold', sans-serif;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}

.promo-form {
  .tag {
    margin-right: 0px !important;
  }
}

.ql-editor {
  height: 330px;
}

.scrollbar {
  background-color: #03a9f3;
  border-radius: 3px;
  z-index: 1700;
}

.select-container > .ant-form-item {
  height: 30px;
  width: 150px;

  .ant-form-item-control {
    line-height: 0;
  }

  .ant-select {
    margin: 0px;
  }
}

.table-action {
  .ant-popover-inner-content {
    padding: 12px 16px !important;
  }
}

.type-container > .ant-form-item {
  height: 30px;
  width: 50px;

  .ant-form-item-control {
    line-height: 32px;
  }

  .ant-select {
    margin: 0px;
  }
}

.tag-container {
  .has-error.has-feedback .ant-form-item-children:after,
  .has-success.has-feedback .ant-form-item-children:after,
  .has-warning.has-feedback .ant-form-item-children:after,
  .is-validating.has-feedback .ant-form-item-children:after {
    top: -25%;
    right: 10px;
  }
}
