$material-icons-font-path: '~material-icons/iconfont/';
/* --MODULES-- */
@import '~antd/dist/antd.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~rc-drawer-menu/assets/index.css';
@import '~react-quill/dist/quill.snow.css';
@import '~font-awesome/css/font-awesome.css';
@import '~material-icons/iconfont/material-icons.scss';
/*  --FONTS-- */
@font-face {
  font-family: 'Harabara';
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/Harabara.ttf") format('truetype');
}
@font-face {
  font-family: 'Arimo Regular';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Arimo-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Arimo Italic';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Arimo-Italic.ttf") format('truetype');
}
@font-face {
  font-family: 'Arimo Bold';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Arimo-Bold.ttf") format('truetype');
}
@font-face {
  font-family: 'Arimo Bold Italic';
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/Arimo-BoldItalic.ttf") format('truetype');
}