@import '../../styles/styles.scss';

.landingContainer {
  @include b-s(
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px
  );
  text-transform: none;
  height: 100%;
  background-color: $white;
  min-height: 815px;
  padding: 10px 30px;

  hr {
    margin-top: -5px;
  }
}

.landingGettingStarted {
  text-align: center;
  font-family: $arimo-bold;
}

.landingInstructionsList {
  width: 100%;
  max-width: 1170px;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 15px 15px 0 15px;
}

.landingInstructionsSubtitle {
  font-family: $arimo-italic;
  font-size: 14px;
  margin-top: -10px;
}

.landingLogo {
  color: $lightblue;
  font-family: $harabara;
  letter-spacing: 1.5px;
  text-align: center;
}
