.adjustPosition {
  position: relative;
  padding-top: 5px;
  font-size: 20px;
}

.btn {
  border: 0;
  text-transform: uppercase;
  font-family: $arimo;
  border-radius: 6px;
}

.btnPrimary {
  border: 0 !important;
  background-color: $lightblue;
  height: 35px;

  &:focus,
  &:hover {
    outline: none !important;
    text-decoration: none !important;
    background-color: $skyblue;
  }
}

.btnCancelWarning {
  &:hover {
    outline: none !important;
    text-decoration: none !important;
    color: $darkyellow;
    background-color: $transparent;
    border-color: $darkyellow;
  }
}

.btnDanger {
  border: 0 !important;
  color: $white !important;
  background-color: $orange !important;

  &:focus,
  &:hover {
    border: 0 !important;
    outline: none !important;
    text-decoration: none !important;
    background-color: $red !important;
  }
}

.btnDisabled {
  border: 0 !important;
  color: $darkerwhite !important;
  background-color: $disabledgrey !important;
  cursor: not-allowed;

  &:focus,
  &:hover {
    border: 0 !important;
    outline: none !important;
    text-decoration: none !important;
    background-color: $disabledgrey !important;
  }
}

.btn-success {
  border: 0;

  &:focus,
  &:hover {
    outline: none !important;
    text-decoration: none !important;
    background-color: $limegreen !important;
  }
}

.btnTertiary {
  background-color: $darkwarmgrey !important;

  &:focus,
  &:hover {
    outline: none !important;
    text-decoration: none !important;
    color: $white;
    background-color: $darkwarmgrey !important;
  }
}

.btnWarning {
  &:hover {
    outline: none !important;
    text-decoration: none !important;
    border: 0;
    background-color: $darkyellow !important;
  }

  &:focus {
    outline: none !important;
    text-decoration: none !important;
    background-color: $transparent;
  }
}

.centered {
  display: block;
  margin: 0 auto;
}

.clearNotifications {
  border: 0 !important;
  padding: 0 !important;
  color: $white !important;
  height: 24px !important;
  width: 100% !important;
  background-color: $transparent !important;
  border-radius: 0 !important;
  margin-right: -5px !important;

  &:hover {
    outline: none !important;
    text-decoration: none !important;
    color: $lightcoolgrey !important;
    background-color: $transparent !important;
  }

  &:focus {
    outline: none !important;
    text-decoration: none !important;
    color: $white !important;
    background-color: $transparent !important;
  }
}

.deleteButton {
  font-size: 14px;
}

.hideButton {
  cursor: pointer;
  border: 0;
  color: $transparent;
  background-color: $transparent;

  &:focus,
  &:hover {
    outline: none !important;
    text-decoration: none !important;
  }
}

.lockIcon {
  position: relative;
  top: 5px;
}

.navButton {
  border: 0;
  margin-left: 10px;
  position: relative !important;
  background-color: $transparent !important;
  height: 40px;
  width: 40px;
  top: -11px;
}

.navButtonIcon {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  position: relative;
  color: $blackblue;
  font-size: 22px;
  top: 4px;
  right: 26.5px;
}

.panelButton {
  border: 0 !important;
  margin-right: 10px;
  color: $darkwarmgrey !important;
  height: 25px !important;
  width: 30px;
  margin-top: 11px;

  i {
    position: relative;
    right: 12px;
  }

  &:hover {
    outline: none !important;
    text-decoration: none !important;
    color: $lightblue !important;
    background-color: $transparent !important;
  }

  &:focus {
    outline: none !important;
    text-decoration: none !important;
    background-color: $transparent !important;
  }
}

.resetField {
  border: 0;
  position: relative;
  color: $darkwarmgrey;
  top: 3px;

  i {
    position: relative;
    right: 12px;
  }

  &:hover {
    i {
      color: $lightblue;
    }
    background-color: $transparent;
  }

  &:focus {
    outline: none !important;
    text-decoration: none !important;
    background-color: $transparent;
  }
}

.removeNoteButton {
  border: 0 !important;
  margin-left: 5px;
  position: relative !important;
  color: $tlightblack !important;
  height: 16px !important;
  padding: 0 2px !important;
  top: 3px;

  &:hover {
    color: $blue !important;
    background-color: $transparent !important;
  }

  &:focus {
    color: $tlightblack !important;
    background-color: $transparent !important;
  }
}

.resetFieldIcon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  color: $lightgrey;
  font-size: 22px;
  top: 2px;
  padding-left: 1px;
}
