.boxEmpty {
  text-align: center;
  background-color: $hortizonalhr;
  height: 685px;
  border: 1px dotted $lightcoolgrey;
}

.emptyIcon {
  display: inline-block;
  margin-top: 300px;
}

.newFormContainer {
  text-transform: none;
}

.previewBoxContainer {
  @include b-s(rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px);
  margin: 0 auto;
  background-color: $white;
  height: 881px;
  margin: 0 20px 0 5px;
  padding: 40px;
  margin-top: 30px;
}

.disabledInputs {
  @include s(none);
  @include trans(all 0.3s cubic-bezier(.645,.045,.355,1));
  cursor: not-allowed;
  margin-bottom: 20px;
  background-color: $disabled;
  color: rgba(0,0,0,.25);
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $readnoteborder;
  border-top-width: 1.02px;
  max-height: 35px;
  overflow-y: auto;
}

.editLink {
  cursor: pointer;
  float: right;
  color: $lightblue;
  font-size: 15px;
  font-weight: normal;
}

.disabledTags {
  float: left;
  margin-right: 5px;
  color: $white;
  background-color: $nodata;
  margin-bottom: 2px;
  border-radius: 10px;
  padding: 0 15px;
}

.reviewContainer {
  float: left;
  margin-bottom: 20px;
  height: 380px;
  width: 23.5%;
  padding: 30px 0;
  margin-left: 15px;
}

.reviewDetailsContainer {
  @include b-s(rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px);
  background-color: $white;
  font-family: $arimo;
  min-height: 230px;
  padding: 16px;
  margin-top: 2px;
}