.boxEmpty {
  text-align: center;
  background-color: $hortizonalhr;
  height: 685px;
  border: 1px dotted $lightcoolgrey;
}

.emptyIcon {
  display: inline-block;
  margin-top: 300px;
}

.newFormContainer {
  text-transform: none;
}

.previewBoxContainer {
  @include b-s(rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px);
  background-color: $white;
  height: 881px;
  margin: 30px 20px 0 5px;
  padding: 40px;
}

.disabledInputs {
  @include s(none);
  @include trans(all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1));
  cursor: not-allowed;
  margin-bottom: 20px;
  background-color: $disabled;
  color: rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid $readnoteborder;
  border-top-width: 1.02px;
  max-height: 35px;
  overflow-y: auto;
}

.editLink {
  cursor: pointer;
  float: right;
  color: $lightblue;
  font-size: 15px;
  font-weight: normal;
}

.disabledTags {
  float: left;
  margin-right: 5px;
  color: $white;
  background-color: $nodata;
  margin-bottom: 2px;
  border-radius: 10px;
  padding: 0 15px;
}

.reviewContainer {
  float: left;
  margin-bottom: 20px;
  height: 380px;
  width: 23.5%;
  padding: 30px 0;
  margin-left: 15px;

  i {
    color: $lightblue;
  }
}

.reviewDetailsContainer {
  @include b-s(rgba(0, 0, 0, 0.12) 0 1px 6px, rgba(0, 0, 0, 0.12) 0 1px 4px);
  background-color: $white;
  font-family: $arimo;
  min-height: 230px;
  padding: 16px;
  margin-top: 2px;
}

.formBoxContainer {
  @include b-s(
    rgba(0, 0, 0, 0.12) 0px 1px 6px,
    rgba(0, 0, 0, 0.12) 0px 1px 4px
  );
  background-color: $white;
  margin: 0 5px 0px 20px;
  padding: 40px 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

%input-fields {
  margin-right: 5px;
  height: 60px;
}

.input10 {
  @extend %input-fields;
  width: 10%;
}

.input15 {
  @extend %input-fields;
  width: 15%;
}

.input16 {
  @extend %input-fields;
  width: 16%;
}

.input20 {
  @extend %input-fields;
  width: 20%;
}

.input25 {
  @extend %input-fields;
  width: 25%;
}

.input40 {
  @extend %input-fields;
  width: 40%;
}

.input50 {
  @extend %input-fields;
  width: 50%;
}

.input55 {
  @extend %input-fields;
  width: 55%;
}

.input60 {
  @extend %input-fields;
  width: 60%;
}

.input66 {
  @extend %input-fields;
  width: 66%;
}

.input70 {
  @extend %input-fields;
  width: 70%;
}

.input75 {
  @extend %input-fields;
  width: 75%;
}

.input85 {
  @extend %input-fields;
  width: 85%;
}

.input95 {
  @extend %input-fields;
  width: 95%;
}

.input100 {
  @extend %input-fields;
  width: 100%;
}
