@import '../../../styles';

%caret {
  margin-right: 5px;
  font-size: 11px;
}

.caretUpCharges {
  @extend %caret;
  color: $charges;
}

.caretDownRefunds {
  @extend %caret;
  color: $redorange;
}

.minusDues {
  margin-right: 5px;
  color: $darkyellow;
}

.minusCredits {
  margin-right: 5px;
  color: $darkblue;
}
